<#include "../_header.html">

<article class="container flex-grow-1 content text-light pt-2">

    <#if success??>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        ${success}
    </div>
    </#if>
    <#if error??>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        ${error}
    </div>
    </#if>

    <h2>Recuperar Senha</h2>
    <p>Todos os campos devem ser preenchidos! Para gerar uma nova senha temporária, responda corretamente as questões abaixo:</p>

    <form action="/account/password/recovery" method="post" name="passwordRecoveryForm" id="passwordRecoveryForm" class="d-table m-auto" style="width: 100%; max-width: 500px">

        <p>
            <label for="recoverBirth" class="form-label">Sua data de nascimento:</label>
            <input type="date" id="recoverBirth" name="birth" required  class="form-control">
        </p>

        <p>
            <label for="recoverEmail" class="form-label">Seu e-mail cadastrado:</label>
            <input type="email" name="email" id="recoverEmail" required class="form-control">
        </p>

        <p>
            <label for="recoverCpf" class="form-label">Seu CPF:</label>
            <input type="text" name="cpf" id="recoverCpf" required class="form-control" minlength="11" maxlength="14">
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Solicitar Nova Senha</button>
        </p>

    </form>

</article>

<#include "../_footer.html">